/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/views/orange
.vscode/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
episcrmdb_2021-03-29_17-06-04.sql.zip

